<h3>Nova Postagem</h3> 
<div class="card">
  <div class="card-body">
    <form action="/admin/postagens/add/nova" method="POST">
    <label>Titulo</label>
    <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}">
    <label>Slug</label>
    <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">
    <label>Descrição</label>
    <textarea name="descricao" cols="30" rows="2" class="form-control" >{{postagem.descricao}}</textarea>
    <label>Conteudo</label>
    <textarea name="conteudo" cols="30" rows="2" class="form-control" >{{postagem.conteudo}}</textarea>
    <label>Categoria</label>
    <select name="categoria" class="form-control">
      <option value="{{this._id}}">{{categoria.nome}}</option>
    </select>
    <button type="submit" class="btn btn-success mt-2" class="form-control">Criar Postagem</button>
</form>
  </div>
</div>